.container {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  background-image: url('/assets/backgrounds/bg_login.png');
  background-size: cover;
  background-position: center top;
  z-index: -1;
  filter: blur(1px);
}

.title, .titleBreaking, .hint {
  font-family: var(--font-title);
  text-align: center;
  color: #FFF8ED;
  letter-spacing: -.5px;
  text-shadow: 0 3px 0 rgba(74, 40, 0, .5);
  text-shadow:
    2px 2px 0px #3D2B1F,
    -1px -1px 0px #3D2B1F,
    1px -1px 0px #3D2B1F,
    -1px 1px 0px #3D2B1F;
}

.title {
  position: relative;
  z-index: 3;
  font-size: 34px;
  font-weight: 700;
}

.titleBreaking {
  font-size: 40px;
  margin-bottom: 18px;
}

.hint {
  position: relative;
  z-index: 3;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}

.startButton {
  position: relative;
  width: 320px;
  z-index: 3;
}